#
# Kbuild ignores
#
.*
*.o
*.o.*
*.a
*.s

#
# Never ignore these
#
!.gitignore
!.config

#
# Normal output
#
/busybox
/busybox_unstripped*
/busybox.links

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit
